<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="ICVNL" descriptor="(DESCRIPTION = (ADDRESS_LIST=(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))) (CONNECT_DATA =(SERVER = DEDICATED)(SERVICE_NAME = INFOFIN)))" />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <appSettings>
    <add key="MailerName" value="ICVNL Notificaciones" />
    <add key="InformadorEmail" value="pruebas@development.com.mx" />
    <add key="InformadorPassword" value="d3m0p@552016" />
    <add key="ServidorSMTP" value="mail.development.com.mx" />
    <add key="PuertoSMTP" value="587" />
    <add key="UsaSSL" value="False" />
    <add key="SmtpTimeout" value="300000" />

    <add key="URL_BaseApi" value="http://141.148.62.26/ICV.Net.Common.WebAPI/" />
    <add key="URL_InventariosApi" value="http://141.148.62.26/ICV.Net.inventarios.WebAPI/" />
    <!-- DataProvider. Only used in ADO.NET. Options are: System.Data.OleDb, System.Data.SqlClient, System.Data.OracleClient or Oracle.DataAccess.Client-->
    <add key="DataProvider" value="Oracle.ManagedDataAccess.Client" />
    <!-- ConnectionName. A name in connectionstring Section. Must match with DataProvider above -->
    <add key="ConnectionStringName" value="ADO.NET.Oracle" />
  </appSettings>
  <connectionStrings>
    <add name="ADO.NET.Oracle" connectionString="Data Source=localhost:1521/INFOFIN;User ID=CPL_USER;Password=CPL_USER;enlist=true;" providerName="" />
  </connectionStrings>
  <system.transactions>
    <defaultSettings timeout="00:10:00" />
  </system.transactions>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>